!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Autorization"
    = csrf_meta_tags
    %script
      user_id = "#{current_user.id if current_user}"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"

  %body{"ng-app": "Generator"}
    %nav.navbar.navbar-inverse{role: "navigation"}
      %a.navbar-brand{href: "/"} Site Generator
      .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav
          - if !user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Authentification
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Login with facebook", user_facebook_omniauth_authorize_path
                %li= link_to "Login with VK", user_vkontakte_omniauth_authorize_path
                %li= link_to "Login with Twitter", user_twitter_omniauth_authorize_path
          - else
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "/"}
                Information
                %b.caret
              %ul.dropdown-menu{"ng-controller": "syka"}
                %li
                  %a{'ng-href'=> '#/{{userId}}/profile'} My profile
                %li
                  %a{'ng-href'=> '#/{{userId}}/create'} Create site
                %li= link_to "Logout", destroy_user_session_path, :method => :delete
        %form.navbar-form.navbar-left{role: "search"}
          .form-group
            %input.form-control{placeholder: "Search", type: "text"}/
          %button.btn.btn-default{type: "submit"} Submit
        %ul.nav.navbar-nav.navbar
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Locale
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "#"} English
              %li
                %a{href: "#"} Русский
      .navbar-collapse
    %ui-view

